<div class="container">
	<div class="board-detail">
		<div class="col-lg-10">
			<div class="card">
				<div class="card-header">
					@Model.BoardTitle <br/>
					@Model.BoardDate.ToString("yyyy-MM-dd")
				</div>
				<div class="card-body">
					@Html.Raw(Model.BoardContent)
				</div>
			</div>
			<div class="card-footer">
				<a class="btn btn-primary" asp-controller="Board" asp-action="Index">목록</a>
				@if (Model.UserId == Model.Id)
				{
					<a class="btn btn-primary" asp-controller="Board" asp-action="Update" asp-route-boardNo="@Model.BoardNo">수정</a>
					<button type="button" class="btn btn-danger" onclick="Delete('@Model.BoardNo')">삭제</button>
				}
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		function Delete(boardNo) {
			$.ajax({
				url: "/board/delete/" + boardNo,
				type: "Delete",
				success: function (result) {
					alert("삭제 되었습니다.");
					location.href = "/board/Index"
				},
				error: function (xhr, status) {
					if (xhr.status === 401) {
						location.href = "/User/login"
					}
					else 
					{
						location.href = "/Error/Error500"
					}
				}
			});
		}
	</script>
}
