<div class="container">
	<div class="board-detail">
		<div class="col">
			<div class="card">
				<div class="card-header">
					@Model.BoardTitle <br/>
					<p>@Model.UserName || @Model.BoardDate.ToString("yyyy-MM-dd")</p>
				</div>
				<div class="card-body" style="min-height:700px;">
					@Html.Raw(Model.BoardContent)
				</div>
			</div>
			<div class="card-footer">
				@foreach (var reply in Model.Replies)
				{
					<div id="reply">
						<div class="row">
							<div class="col d-flex align-items-center">
								<p class="mt-3">@reply.UserName</p>
							</div>
							<div class="col d-flex align-items-center">
								<p class="mt-3">@reply.ReplyContent</p>
							</div>
							<div class="col d-flex align-items-center justify-content-end">
								<p class="mt-3">@reply.ReplyDate.ToString("yyyy-MM-dd")</p>
								@if (reply.UserId == Model.Id)
								{
									<div class="reply-button ms-2">
										<button type="button" class="btn btn-danger btn-sm delete-comment" onclick="deleteReply('@reply.ReplyNo')">삭제</button>
									</div>
								}
							</div>
						</div>
					</div>
					<hr class="my-4" />
				}
			</div>
		</div>
	</div>

	<hr class="my-4" />

</div>

<div class="container">
	<div class="reply-detail">
		<div class="col">
			<div class="card "> 
				<div class="card-header">
					<div class="d-flex flex-row align-items-center">
						<input type="text" class="form-control form-control-lg me-3" id="reply-input">
						<div class="reply-button" style="width:120px;">
							<button type="button" class="btn btn-primary" onclick="saveReply('@Model.BoardNo')">댓글 등록</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<a class="btn btn-primary" asp-controller="Board" asp-action="Index">목록</a>
					@if (Model.UserId == Model.Id)
					{
						<a class="btn btn-primary" asp-controller="Board" asp-action="Update" asp-route-boardNo="@Model.BoardNo">수정</a>
						<button type="button" class="btn btn-danger" onclick="Delete('@Model.BoardNo')">삭제</button>
					}
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/js/boardDetail.js"></script>
}
